---
import InertiaIcon from '../components/icons/Inertia.astro'
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import GitHub from "./icons/GitHub.astro"
import PhpIcon from "./icons/Php.astro"
import LaravelIcon from "./icons/Laravel.astro"
import AngularIcon from "./icons/Angular.astro"
import TypeScriptIcon from "./icons/TypeScript.astro"
import ReactIcon from "./icons/React.astro"
import JSIcon from "./icons/Javascript.astro"
import AstroIcon from "./icons/Astro2.astro"
import MongoDBIcon from "./icons/MongoDB.astro"
import MySQLIcon from "./icons/MySQL.astro"
import TailwindIcon from "./icons/Tailwind.astro"
import SocketIo from "./icons/SocketIo.astro"
import JanusWebRTC from "./icons/WebRTC.astro"

const TAGS = {
  INERTIA: {
    name: 'Inertia.js',
    class: 'bg-[#9454E9] text-white',
    icon: InertiaIcon
  },
  PHP: {
    name: 'PHP',
    class: 'bg-[#4D588E] text-white',
    icon: PhpIcon
  },
  LARAVEL: {
    name: 'Laravel',
    class: 'bg-[#F6362D] text-white',
    icon: LaravelIcon
  },
  ANGULAR: {
    name: 'Angular',
    class: 'bg-[#C3002F] text-white',
    icon: AngularIcon
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-[#1567C2] text-white',
    icon: TypeScriptIcon
  },
  ASTRO: {
    name: 'Astro',
    class: 'bg-[#181426] text-white',
    icon: AstroIcon
  },
  REACT: {
    name: 'React.js',
    class: 'bg-[#0D6D8C] text-white',
    icon: ReactIcon
  },
  JAVASCRIPT: {
    name: 'Javascript',
    class: 'bg-[#EFD81D] text-white',
    icon: JSIcon
  },
  MONGODB: {
    name: 'Mongo DB',
    class: 'bg-[#006548] text-white',
    icon: MongoDBIcon
  },
  MYSQL: {
    name: 'MySQL',
    class: 'bg-[#F29111] text-white',
    icon: MySQLIcon
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#38BDF8] tex-white',
    icon: TailwindIcon
  },
  SOCKETIO: {
    name: 'Socket.IO',
    class: 'bg-[#010101] tex-white',
    icon: SocketIo
  },
  WEBRTC: {
    name: 'WebRTC',
    class: 'bg-[#38BDF8] tex-white',
    icon: JanusWebRTC
  }
}
const PROJECTS = [
    {
    title: 'Meet Strangers',
    description: 'Aplicación de videollamadas desarrollada con JavaScript puro y WebRTC, que permite establecer conexión entre dos usuarios mediante un código personal o de forma aleatoria, similar a plataformas como Omegle. El proyecto demuestra cómo implementar comunicación en tiempo real desde cero.',
    link: 'https://janus-meet.onrender.com',
    image: '/projects/meet.PNG',
    github: 'https://github.com/nicoelias997/janus-meet',
    tags: [TAGS.JAVASCRIPT, TAGS.SOCKETIO, TAGS.WEBRTC, TAGS.MONGODB]
  },
  {
    title: 'Content Management System',
    description: 'Es una plataforma de software diseñada para gestionar y colaborar en la revisión, aceptación o rechazo de documentación, así como para el envío de notas y comentarios entre administradores y otros usuarios del sistema.',
    link: 'https://cms.lemecsl.com/',
    image: '/projects/Captura-Spa.jpg',
    github: '',
    tags: [TAGS.INERTIA, TAGS.PHP, TAGS.LARAVEL, TAGS.MYSQL]
  },
  // {
  //   title: 'Portfolio',
  //   description: 'Este es mi portfolio, describe un poco lo que hago, donde y como trabajo. ',
  //   link: 'https://chipper-puffpuff-ffcd43.netlify.app/',
  //   image: '/projects/Portfolio.jpg',
  //   github: 'https://github.com/nicoelias997/portfolio-dev',
  //   tags: [TAGS.ASTRO, TAGS.TAILWIND]
  // },
  {
    title: 'Banner MyVirtualCard',
    description: 'Funcionalidad del banner dinamico de la Virtual Card, gestiona la instalación de la misma.',
    link: 'https://pruebas.myvirtualcard.es',
    image: '/projects/banner.jpg',
    github: '',
    tags: [TAGS.ANGULAR, TAGS.TYPESCRIPT]
  },
  {
    title: 'Hamburgueseria Leno',
    description: 'Proyecto final de capacitación, debiamos realizar un trabajo en equipo de un E-Commerce. Me toco realizar el Front-End y Back-End del login.',
    link: 'https://lenohamburguesas.netlify.app/login',
    image: '/projects/leno.jpg',
    github: 'https://github.com/nicoelias997/LenoBackEnd',
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.MONGODB]
  }
]

---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">
        {description}
      </div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>
